.error--text {
  position: absolute;
  font-size: 0.5rem;
  top: 25%;
  right: 0;
  color: $errorColor;
}

.error--border {
  position: relative;
  border: 2px solid red;

  &:focus {
    border: 2px solid red;
  }

  &:hover {
    border-color: red;
  }
}

// Error message select tip
.percentage-box {
  input[type="text"] {
    &.error--border {
      border: 2px solid red;

      &:focus {
        border-color: $errorColor;
      }

      &:hover {
        border-color: $errorColor;
      }
    }
  }
}

.tip-percentage.label__container {
  .error--text {
    top: 15%;
  }
}
