@media screen and (max-width: 1025px) {
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 1.5rem;
  }

  #dashboard {
    grid-template-areas:
      "head"
      "work"
      "play"
      "study"
      "exercise"
      "social"
      "selfcare";

    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  // Dashboard header
  .dash-information {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      height: 75px;
    }

    & > div {
      padding-left: 1rem;

      h1 {
        padding-bottom: 0;
      }
    }

    p {
      padding-top: 0;
    }
  }

  .dash-nav {
    ul {
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      padding-bottom: 0;
    }
  }

  // Dashboard cards
  .dash-section {
    .section-info {
      padding-bottom: 3rem;
    }
  }

  .timeframes-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prev-time {
    padding-left: 1rem;
  }

  .info-header {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1rem;
  }

  .dash-information {
    img {
      width: 60px;
      height: 60px;
    }

    p {
      font-size: 0.8rem;
    }
  }

  // Dashboard cards
  .current-time {
    font-size: 2rem;
  }
}
