@import "variables";
@import "main-styles";

// Tip calculator
.logo {
  padding-bottom: 5rem;
}

.tip-calculator {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 400px);
  column-gap: 3rem;
  background: $white;
  padding: 2rem 2.5rem;
  border-radius: 1em;
}

// Utilitys
.btn {
  width: 100%;
  padding: 0.75em 1em;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;

  &:hover {
    background: $buttonHoverColor;
    transition: $hoverTransition;
  }

  &-primary {
    background: $strongCyan;
    color: $veryDarkcyan;
  }
}

// Form section

// Input container
.label__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.75rem 0;
}

.label__header {
  color: $darkGrayishCyan;
  font-size: 0.7rem;
  font-weight: 700;
  padding-bottom: 0.75em;
}

.label__input {
  background: url("../images/icon-dollar.svg") no-repeat left 4% center
    $lightGrayishCyan2;
  color: $veryDarkcyan;
  width: 100%;
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
  padding: 0.25em 0.75em;
  border: 2px solid $lightGrayishCyan2;
  border-radius: 0.2em;

  &:hover {
    border: 2px solid $strongCyan;
    transition: $hoverTransition;
  }

  &:focus {
    outline: none;
    border: 2px solid $strongCyan;
  }
}

// tip selection
.percentage-box {
  display: flex;
  max-width: 100%;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    flex-basis: 100%;
    align-self: center;
    justify-self: center;
    background: $veryDarkcyan;
    font-weight: 700;
    color: $lightGrayishCyan2;
    padding: 0.4em 0.5em;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: $buttonHoverColor;
      color: $veryDarkcyan;
      transition: $hoverTransition;
    }
  }

  input {
    appearance: none;
  }

  input[type="radio"]:checked ~ label {
    background: $strongCyan;
  }

  input[type="text"] {
    background: $lightGrayishCyan2;
    border: none;
    text-align: right;
    padding: 0.3em 0.5em;
    font-size: 1rem;
    font-weight: 700;
    max-width: 100%;
    color: $veryDarkcyan;

    &:hover {
      border: 2px solid $strongCyan;
    }

    &:focus {
      outline: none;
      border: 2px solid $strongCyan;
    }

    &::placeholder {
      text-align: center;
      color: $veryDarkcyan;
    }
  }
}

.percentages__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 130px));
  width: 100%;
  gap: 0.5em;
}

// Number of people
.people-amount .label__input {
  background-image: url("../images/icon-person.svg");
}

//////////// Result Section ////////
.result-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  background: $veryDarkcyan;
  padding: 2rem;
  border-radius: 1rem;

  & > div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
  }

  .btn {
  }
}

.result__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.result-header {
  font-size: 0.7rem;
  color: $white;

  span {
    color: $darkGrayishCyan2;
    font-weight: 700;
    font-size: 0.6rem;
  }
}

.tip-result {
  font-size: 2rem;
  font-weight: 700;
}
